.error{
  color: red;
  font-style: italic;
}
.container{
margin-top: 30px;
margin-bottom: 30px;

}

.form{
  width: 60%;
  margin: auto;
}
.form-label{
  width: 100%;
}

p{
  padding: 0;
  margin: 0;
}

.list{
 overflow: auto;
white-space: wrap;
display: flex;

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}



.todolist
{
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
}

.check{
  accent-color: #475d8b;
}

.card{
  background-color: rgb(247, 243, 243);
}
.card-footer {
  padding: 0px 10px;
color:red;
  background-color: transparent;
   border-top:0px;
   
}

.card-header {
  padding: 0px 10px;
  background-color: transparent;
   border-bottom:0px;

}
.lineThrough{
  text-decoration:line-through;

}


@media screen and (max-width: 768px) {
  .row{
width: 100%;  }

}